src/main/resources/legacysoap.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.monitoresws.pladema.net/xsd"
           targetNamespace="http://soap.monitoresws.pladema.net/xsd" elementFormDefault="qualified">
         <xs:complexType name="Device">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:long"/>
               <xs:element minOccurs="0" name="id_scanner" type="xs:int"/>
               <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="signal" type="xs:int"/>
               <xs:element minOccurs="0" name="source_device_type" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="Frame">
            <xs:sequence>
               <xs:element minOccurs="0" name="destination_mac" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="frame_type" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="id" type="xs:long"/>
               <xs:element minOccurs="0" name="id_scanner" type="xs:int"/>
               <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="signal" type="xs:int"/>
               <xs:element minOccurs="0" name="source_device_type" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="source_mac" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="SmartphoneDetection">
            <xs:sequence>
               <xs:element minOccurs="0" name="destination_mac" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="lat" nillable="true" type="xs:double"/>
               <xs:element minOccurs="0" name="lon" nillable="true" type="xs:double"/>
               <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="signal" type="xs:int"/>
               <xs:element minOccurs="0" name="source_mac" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="ssid" nillable="true" type="xs:string"/>
               <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:dateTime"/>
            </xs:sequence>
         </xs:complexType>
    <xs:element name="GetDevices">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="GetDevicesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:Device"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="DeleteDevices">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="devices" nillable="true" type="tns:Device"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="DeleteDevicesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GetFrames">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="GetFramesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:Frame"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="DeleteFrames">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="frames" nillable="true" type="tns:Frame"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="DeleteFramesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GetSmartphoneDetections">
            <xs:complexType>
               <xs:sequence/>
            </xs:complexType>
         </xs:element>
         <xs:element name="GetSmartphoneDetectionsResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="tns:SmartphoneDetection"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleDevice">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleDeviceResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleDeviceDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="device" nillable="true" type="tns:Device"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleDeviceDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleDeviceDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="devices" nillable="true" type="tns:Device"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleDeviceDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleDevices">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleDevicesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleFrame">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleFrameResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleFrameDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="frame" nillable="true" type="tns:Frame"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleFrameDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleFrameDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="frames" nillable="true" type="tns:Frame"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleFrameDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleFrames">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleFramesResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleSmartphoneDetection">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleSmartphoneDetectionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleSmartphoneDetectionDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="detection" nillable="true" type="tns:SmartphoneDetection"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertSingleSmartphoneDetectionDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleSmartphoneDetectionDTO">
            <xs:complexType>
               <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="detections" nillable="true" type="tns:SmartphoneDetection"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleSmartphoneDetectionDTOResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleSmartphoneDetection">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="data" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="InsertMultipleSmartphoneDetectionResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
</xs:schema>
